@font-face {
  font-family: "Gang of Three";
  src: local("./assets/fonts/go3v2.tff");
}

canvas {
  display: block;
  margin: auto;
  height: 70%;
  width: 70%;
}

#scoreDisplay {
  position: absolute;
  font-size: 2em;
  z-index: 100;
  left: 10px;
  top: 10px;
}

#settings {
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

h1,
#score,
#highScore {
  font-family: "Gang of Three", Arial, Helvetica, sans-serif;
}

#gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#gameOverMsg {
  margin-bottom: 20px;
  font-size: 3em;
  font-family: "Gang of Three", Arial, Helvetica, sans-serif;
}

#retry, #pause {
  font-size: 1em;
  font-family: "Gang of Three", Arial, Helvetica, sans-serif;
}

#logo { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 40%;
  height: auto;
  max-width: 200px;
} 

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  opacity: .5;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
  background-color: #00EEE0;
  border: 1px #99ccff solid;
}

.button:active {
  background-color: #00CCC0;
  border: 1px #000000 solid;
}

