@font-face {
  font-family: "Gang of Three";
  src: local("./go3v2.tff");
}

main {
  background-image: url("./images/background.png");
  z-index: 10000000000;
}

canvas {
  display: block;
  margin: auto;
  height: 80%;
  width: 80%;
}
#scoreDisplay {
  position: absolute;
  font-size: 2em;
  z-index: 100;
  margin: auto;
  padding-top: 10px;
}

h1,
#score,
#highScore {
  font-family: "Gang of Three", Arial, Helvetica, sans-serif;
  text-align: 'center';
}

#logo { 
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  text-align:center;
  
}

#logo img {
  width: auto;
  height: auto;
  margin: auto;
  display:inline-block;
} 




.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  opacity: .5;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
  background-color: #00EEE0;
  border: 1px #99ccff solid;
}

.button:active {
  background-color: #00CCC0;
  border: 1px #000000 solid;
}

#retry{
  font-family: "Gang of Three", Arial, Helvetica, sans-serif;
}

#gameOver {
  text-align: center;
  vertical-align: middle;
  font-family: "Gang of Three", Arial, Helvetica, sans-serif;
}